{% extends "base.html" %}
{% block title %}SENAC no Roblox{% endblock %}

{% block content %}

<div class="hero text-center">
    <h1 class="minecraft glow">SENAC no Roblox</h1>

    <p class="minecraft mt-3">
        Projeto de recriação do prédio do SENAC no Roblox,
        desenvolvido como atividade de estudo em modelagem,
        construção de mapas e design de ambientes 3D.
    </p>

    <p class="minecraft mt-2">
        O objetivo é aplicar conceitos de espaço, proporção e organização visual
        em um ambiente virtual interativo.
    </p>
</div>

{% endblock %}
